body{
  background-color: #9E0000;
}
/***************** NAV BAR **************/
.custom_nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #9E0000;
  margin-bottom: 5px;
  z-index: 2;
}
.nav-bar-link{
  display: inline-block;
  padding: 5px 0 ;
  width: 10vw;
  font-size: 2vh;
  color: #FFEEED;
  cursor: pointer;

}
.navBorder{
  width: 100vw;
  height: 1px;
  background-color:#FFEEED;
  margin:auto;
}
#logo{
  position: absolute;
  left: 1em;

}
#social{

}
#dropdown{
  position: absolute;
  right: 1em;
  /*margin-right: 2vw;*/
}
.menu{
  display: flex;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.menu-content{
  background-color: #9E0000;
  position: fixed;
  right: 0;
  overflow: visible;
  white-space: nowrap;
  list-style-type: none;
  color: #FFEEED;
  height: 100%;
  width: 0%;
}
.menu-content li{
  cursor: pointer;
  margin-top: 5vh;
  padding: 2vh 5vw;
  margin-bottom: 2vh;
  padding-left: 0;
  padding-right: 0;
  margin-right: 1px;
  letter-spacing: 0.4vw;
  font-family: ostrichSansInline;
  font-size: 2vh;
}
.closeBTN{
  position: fixed;
  padding-top: 5px;
  padding-right: 3vw;
  cursor: pointer;
  z-index: 3;
  color: #FFEEED;
  font-size: 2vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  margin-right: 2vw;
  font-size: 2vh;
}
/******************** TITLE *********************/
.title{
  font-family: ostrichSansBold;
  color:  #FFEEED;
  letter-spacing: 0.5vw;
  font-size: 10vh;
  white-space: pre-line;
  z-index: -1;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#title{
  position: absolute;
  right: 0;
  left: 0;
  top: 30vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

/****************** PROJECTS ***************/
.projects{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.projectTitle{
  font-family: ostrichSansBold;
  font-size: 6vw;
  color: #FFEEED;
  padding-top: 5px;
}
.site{
  background-color: inherit;
  height: 30rem;
  width: 30rem;
  position: relative;
  top: 5em;
}
.desTitle{
  position: relative;
  top: 5rem;
}

.projectDes {
  position: absolute;
  /*left: 10rem;*/

  color: #FFEEED;
  font-size: 2rem;
  white-space: pre-line;
  font-family: ostrichSansBold;
}
/***************** CALCULATOR **************/
#calculatorImg{
  content: url('/img/Calculator.png');
  margin-right: 10rem;
  margin-left: 5rem;
}

/**************** MOBILE ******************/
@media only screen and (max-width: 770px) {
  #title{
    top: 20vh;
  }
  .projects{
    height: 97vh;
  }
  .site{
    height: 20rem;
    width: 20rem;
  }
  .desTitle{
    margin-top: 10rem;
  }
  .projectDes {
    width: inherit;

    font-size: 4vw;
    margin: auto;
    padding-right: 1rem;
  }
  #calculatorImg{
    margin: auto;
  }
}
/****************** FONTS ******************/

@font-face {
  font-family: ostrichSansInline;
  src: url("/fonts/ostrich-sans-inline-regular.ttf");
}
@font-face {
  font-family: ostrichSansBold;
  src: url("/fonts/OstrichSansInline-Regular.otf");
}
@font-face {
  font-family: OstrichSansLight;
  src: url('/fonts/OstrichSans-Light');

}
